.manage-pfa-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  button {
    margin-right: 10px;
  }
  
  
  .manage-pfa {
    padding: 15px;
    background: #f8f9fa;
    border-radius: 10px;
  }
  
  .pfa-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .pfa-buttons button {
    margin-left: 5px;
  }
  
  .table td {
    vertical-align: middle;
  }
  
  .button-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  