// src/components/ManageIcons.scss
.icon {
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.2s;
  margin-right: 8px;
  color: #70d09a; // Couleur par défaut pour tous les icônes

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    transform: scale(1.2);
  }

  
  &.info {
    color: #17a2b8;
  }

  &.edit {
    color: #17a2b8;
  }

  &.lock {
    color: #17a2b8;
  }

  &.delete {
    color: #17a2b8;
  }
}