// src/components/ManageIcons.scss
.manage-icons {
    display: flex;
    gap: 8px;
  
    .icon {
      cursor: pointer;
      font-size: 20px;
      transition: transform 0.2s;
  
      &:hover {
        transform: scale(1.2);
      }
  
      &.info {
        color: #168d49;
      }
  
      &.edit {
        color:#168d49;
      }
  
      &.lock {
        color: #168d49;
      }
  
      &.delete {
        color: #168d49;
      }
    }
  }