.button-component {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 6px 12px;
    border: none;
    border-radius: 2px; 
    font-size: 12px; 
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    min-width: 100px;
    height: 32px; 
    
  
    &.green {
      background-color: #1e7e34c5; 
    }
  
    &.blue {
      background-color: #4da3bdb6; 
    }
  
    &:hover {
      opacity: 0.85;
    }
  
    .icon {
      font-size: 16px;
    }
  }
  .buttons-container {
    display: flex;
    gap: 12px;
    margin-top: 12px;
  }  
  