.page-container {
    text-align: left;
    margin-top: 20px;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    /* Espace entre les cartes */
    align-items: center;
    margin-top: 20px;
}

.card {
    width: 200px;
    /* Largeur fixe, donc la carte sera carrée */
    height: 200px;
    /* Hauteur fixe pour obtenir un carré */
    border: 1px solid #ccc;
    /* Bordure de la carte */
    border-radius: 8px;
    /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Ombre subtile */
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
    justify-content: center;
        /* Centre l'image verticalement */
        align-items: center;
}

.card:hover {
    transform: translateY(-5px);
    /* Effet de survol */
}

.card-image {
    width:80px;
    height: auto;
    object-fit: cover;
    /* Garder les proportions de l'image */
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-title {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}